<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Runkeeper to csv</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <script src="bower_components/threejs/build/three.js"></script>
    <script src="three.orbit.js"></script>
    <script src="geofn.js"></script>

    <script type="text/javascript">
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.00001, 1000 );

    var renderer = new THREE.WebGLRenderer();
    renderer.setClearColor( 0xeeeeee );
    renderer.setSize( window.innerWidth, window.innerHeight );
    document.body.appendChild( renderer.domElement );

    var geometry = new THREE.SphereGeometry( 1, 8, 8 );
    var material = new THREE.MeshBasicMaterial( { color: 0x00ff00, wireframe: true, transparent: true, opacity: 0.2 } );
    var sphere = new THREE.Mesh( geometry, material );
    scene.add( sphere );

    camera.position.z = 4;

    controls = new THREE.OrbitControls( camera );
    controls.damping = 0.2;


    var lat = (Math.random() * 180) - 90
    var lng = (Math.random() * 360);


    var geometry = new THREE.SphereGeometry( .1, 16, 16 );
    var material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true, transparent: true, opacity: 0.2 } );
    var point = new THREE.Mesh( geometry, material );
    point.position.set.apply(point.position, sphericalToCartesian(lng, lat))

    sphere.add( point );

    var render = function () {
      requestAnimationFrame( render );

      lat += Math.random() * 0.5;
      lng += Math.random() * 0.5;

      point.position.set.apply(point.position, sphericalToCartesian(lng, lat))

      sphere.quaternion.setFromUnitVectors(point.position, new THREE.Vector3(0,1,0))

      renderer.render(scene, camera);
    };

    render();


    function sphericalToCartesian (lat, lng){
      var rho = 1;

      var phi = (lat + 90) * (Math.PI/180);
      var theta = (lng) * (Math.PI/180);

      var x = rho * Math.sin(phi) * Math.cos(theta);
      var y = rho * Math.sin(phi) * Math.sin(theta);
      var z = rho * Math.cos(phi);

      return [x,y,z]
    }



    // This is why we're doing this
    controls.target = new THREE.Vector3(0,1,0)
    camera.lookAt(new THREE.Vector3(0,1,0))


    </script>
  </body>
</html>
