<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RK Data</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <header>

        {{^user}}
          <p>
            <a href="/auth/runkeeper">sign in with runkeeper</a>
          </p>
        {{/user}}

        {{#user}}
          <img class="avatar" src="/picture" width="72" height="72">
          <h3>
            {{name}} <small>{{_id}}</small>
          </h3>
          <p>
            <a href="/logout">sign out</a>
          </p>
        {{/user}}
      </header>

      {{#user}}
        <dl>
          <dt>found</dt> <dd id="ui-found">0</dd>
          <dt>downloaded</dt> <dd id="ui-downloaded">0</dd>
        </dl>

        <button id="destroy">clear all data</button>

        <div class="downloads">
          <a href="#" id="download-summary">summary.csv</a>
          <a href="#" id="download-distances">distances.csv</a>
          <a href="#" id="download-paths">paths.csv</a>
        </div>

        <script type="text/javascript" src="bower_components/FileSaver/FileSaver.min.js"></script>
        <script type="text/javascript" src="bower_components/async/dist/async.min.js"></script>
        <script type="text/javascript" src="bower_components/reqwest/reqwest.min.js"></script>
        <script type="text/javascript" src="bower_components/dexie/dist/latest/Dexie.min.js"></script>
        <script type="text/javascript">

          Dexie.Promise.on('error', function(err) {
              console.log("Uncaught error: " + err);
          });

          var db = new Dexie("Runkeeper");
          db.version(1).stores({
            activities: "&uri,total_distance,userID,start_time_norm"
          });
          db.version(2).stores({
            activities: "&uri",
            summaries: "&id, userID, uri, state"
          });
          db.version(3).stores({
            activities: "&uri"
          }).upgrade(function(trans){
            return trans.summaries.clear()
          });
          db.open();

          var uris = [];
          var downloaded = [];

          db.activities.toCollection().keys(function(keys){
            downloaded = downloaded.concat(keys);
            document.getElementById('ui-downloaded').textContent = downloaded.length
          })

          var q = async.queue(function (uri, callback) {
            db.activities
              .where('uri').equals(uri)
              .count(function(c){
                if(c === 0)
                  return populate(uri)
                    .then(function(){
                      downloaded.push(uri);
                      document.getElementById('ui-downloaded').textContent = downloaded.length
                    })
              })
              .then(callback)
          }, 2);

          function populate(uri){
            return reqwest('data' + uri)
                    .then(function(data){
                      return db.activities.put(data)
                    })
          }


          function populateIndex(url) {
            reqwest('/data' + url)
              .then(function(res){
                var items = res.items.map(function(item){
                  return item.uri;
                });
                uris = uris.concat(items);

                q.push(items);



                document.getElementById('ui-found').textContent = uris.length
                if(res.next) populateIndex(res.next);
              })
          }

          populateIndex('/fitnessActivities');

          document.getElementById('destroy').addEventListener('click', function(e){
            db.activities.clear()
          }, false)

          document.getElementById('download-summary').addEventListener('click', function(e){
            e.preventDefault();

            console.time('export')

            var keys = ['uri', 'duration', 'type', 'start_time', 'total_distance', 'climb', 'total_calories'];
            var rows = [keys];

            db
              .activities
              .reverse()
              .each(function(activity){
                rows.push(
                  row(keys, activity)
                )
              })
              .then(function(){
                console.timeEnd('export');

                var b = new Blob(rows.map(function(row){
                  return csv(row) + '\n';
                }),  {type: 'text/csv'});

                saveAs(b, 'runkeeper-{{name}}-summary.csv')
              })


          }, false)



          document.getElementById('download-distances').addEventListener('click', function(e){
            e.preventDefault();

            console.time('export distances')

            var data = [new Blob(['uri, timestamp, distance\n'])];

            db
              .activities
              .reverse()
              .each(function(activity){
                data.push(
                  new Blob([activity.distance.map(function(d){
                    return csv([activity.uri, d.timestamp, d.distance])
                  }).join('\n') + '\n'])
                );
              })
              .then(function(){
                console.timeEnd('export distances');

                var b = new Blob(data,  {type: 'text/csv'});

                saveAs(b, 'runkeeper-{{name}}-distances.csv')
              })


          }, false)




          document.getElementById('download-paths').addEventListener('click', function(e){
            e.preventDefault();

            console.time('export paths')

            var data = [new Blob(['uri, timestamp, altitude, latitude, longitude\n'])];

            db
              .activities
              .reverse()
              .each(function(activity){
                data.push(
                  new Blob([activity.path.map(function(d){
                    return csv([activity.uri, d.timestamp, d.altitude, d.latitude, d.longitude])
                  }).join('\n') + '\n'])
                );
              })
              .then(function(){
                console.timeEnd('export paths');

                var b = new Blob(data,  {type: 'text/csv'});

                saveAs(b, 'runkeeper-{{name}}-paths.csv')
              })


          }, false)


          // pull out a row of keys
          function row(keys, obj){
            return keys.map(function(k){
              return obj[k]
            })
          }
          // create a csv row from an array
          function csv(array){

            // this is not a world class csv generator
            return array.map(function(item){
              return  typeof(item) === 'string' ?
                item.replace(/[\",]/g,'') :
                item;
            }).join(',')
          }

        </script>
      {{/user}}

    </div>

  </body>
</html>
