<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RK Data</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <header>

        {{^user}}

          <p>
            <a href="/auth/runkeeper">sign in with runkeeper</a>
          </p>
        {{/user}}

        {{#user}}
          <img class="avatar" src="/picture" width="72" height="72">
          <h3>
            {{name}} {{_id}}
          </h3>
          <p>
            <a href="/logout">sign out</a>
          </p>
        {{/user}}
      </header>




      {{#user}}
        <pre id="output"></pre>

        <script type="text/javascript" src="bower_components/reqwest/reqwest.min.js"></script>
        <script type="text/javascript" src="bower_components/dexie/dist/latest/Dexie.min.js"></script>
        <script type="text/javascript">

          var db = new Dexie("Runkeeper");
          db.version(1).stores({
            activities: "&uri,total_distance,userID,start_time_norm"
          });
          db.open();


          function list(url, count) {
            count--;

            reqwest(url)
              .then(function(res){
                if(res.next && count > 0){
                    list('/data' + res.next, count)
                }

                res.items.forEach(function(item){
                  item.userID = {{_id}};
                  item.start_time_norm = +new Date(item.start_time);

                  db
                    .activities
                    .add(item)
                    .then(function(){
                      output.innerText += row(item)
                    })
                    .catch(function(e){
                      if(e.name == 'ConstraintError'){
                        console.log('duplicate')
                      } else {
                        console.log(e);
                      }
                    })
                })
              })
          }

          list('/data/fitnessActivities', 20)




          function render(){
            console.time('render')
            var htm = '';

            db
              .activities
              .where('start_time_norm')
              .above(0)
              .reverse()
              .each(function(item, cursor){
                htm += row(item);
              })
              .then(function(){
                output.innerText = htm;
                console.timeEnd('render')
              })
              .catch(console.error.bind(console));
          }

          render();


          // pull in the full data for an activity
          function fill(id){
            return reqwest('data' + id)
              .then(function(data){
                return db.activities.update(id, data)
              })
              .then(function (updated) {
                  if (updated)
                      console.log ("updated " + id);
                  else
                      console.log ("NOT updated " + id);
              });
          }


          // hacky test
          function fillSome(n){
            var five = [];
            db
              .activities
              .where('start_time_norm')
              .above(0)
              .reverse()
              .each(function(item, cursor){
                if(!item.path && n-- >0){
                  fill(item.uri);//.then(render)
                }
              })
              .catch(console.error.bind(console));
          }

          fill('/fitnessActivities/142038704');

            function row(i){
              return [
                  i.type,
                  (i.total_distance/1000).toPrecision(2) + 'km',
                  i.start_time,
                  i.uri,
                  i.path ? i.path.length : '_'
                ].join('\t') + '\n';
            }

        </script>
      {{/user}}

    </div>

  </body>
</html>
